
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Article List</h3>
              <a routerLink="/admin/addshortarticle" class="btn btn-success float-sm-right">Add New Article</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Heading</th>
                    <th>Article</th>
                    <th>Image</th>
                    <th>Is Visible</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of articleList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.categoryName}}</td>
                    <td>{{item.subCategoryName}}</td>
                    <td>{{item.heading}}</td>
                    <td>{{item.shortArticle}}</td>
                    <td><img src="{{ImageUrl}}{{item.image}}" height="150" /></td>
                    <td>{{item.visible}}</td>
                    <td>
                      <a href="javascript:void(0)" class="btn btn-success mb-2" (click)="EditArticle(item.id)">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                      <a href="javascript:void(0)" (click)="deleteArticle(item.id)" class="btn btn-warning">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
